<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.naveenautomation.utils.ExtentReportListener" />
		</listeners>
<test thread-count="5" name="Test">
		<classes>
			<class name="com.naveenautomation.base.ManageBrowserOptions" />
			<class name="com.naveenautomation.test.ReturnPageTest" />
			<class name="com.naveenautomation.test.ContactSuccessPageTest" />
			<class name="com.naveenautomation.test.MacbookPageTest" />
			<class name="com.naveenautomation.test.CheckoutPageTest" />
			<class name="com.naveenautomation.base.TestBase" />
			<class name="com.naveenautomation.test.LogoutPageTest" />
			<class name="com.naveenautomation.test.AccountPageTest" />
			<class name="com.naveenautomation.test.LoginPageTest" />
			<class name="com.naveenautomation.test.ProductDetailsPageTest" />
			<class name="com.naveenautomation.test.WishlistPageTest" />
			<class name="com.naveenautomation.test.RewardPageTest" />
			<class name="com.naveenautomation.test.AddressBookPageTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
